<div class="div-inner">
<div class="title-div"><h3>All Cohorts</h3></div>
<div class="table-div">




  <div id="table-container">
    <div class="add-div"><a class="add-cohort" href="/cohorts/new"><i class="fas fa-plus-circle"></i>Add Cohort</a></div>
<table>
<tr>
  <th>Id</th>
<th class="name-table">Name</th>
<th class="date-table">Start date</th>
<th class="date-table">End date</th>
<th class="instructor-table">Instructor</th>
<th class="course-table">Course</th>
  <th>Edit</th>
</tr>
<% @cohorts.each do |cohort|%>
    <tr>
    <td><%=cohort.id%></td>
    <td class="name-table"><a href="/cohorts/<%=cohort.id%>"><%=cohort.name%></a></td>
    <td class="date-table"><%=cohort.start_date.strftime("%m/%d/%Y")%></td>
    <td class="date-table"><%=cohort.end_date.strftime("%m/%d/%Y")%></td>
    <% if cohort.teacher_id.nil?%>
    <td class="instructor-table">N/A</td>
    <%else%>
    <%current_teacher = @teachers.find(cohort.teacher_id)%>
    <td class="instructor-table"><a href="/teachers/<%=current_teacher.id%>"><%=current_teacher.first_name%> <%=current_teacher.last_name%></a></td>
    <% end %>
    <td class="course-table"><a href="/courses/<%=cohort.course.id%>"><%=cohort.course.name%></a></td>
    <td><%=cohort.course.name%></td>
    <td class="edit-row">
   <div><a href="/cohorts/<%=cohort.id%>/edit"><i id="edit-icon"class="fas fa-pencil-alt"></i></a></div>
   <div class="trash-div"><%= link_to image_tag('trash-alt-regular.svg',:class => 'delete-btn'),cohort_path(cohort), method: :delete, remote:true, data: { confirm: 'Are you sure?' } %></div>
   </td>
  
    </tr>
   <% end %>
</table>

</div>
</div>
</div> 