<%= form_with model: @student do |form| %></p>
  <p>first name: <%= form.text_field :first_name %></p>
  <p>last name: <%= form.text_field :last_name %></p>
  <p>age: <%= form.number_field :age %></p>
  <%= form.text_field :img_url, placeholder:"image url" %>
  <p>cohort id: <%= form.number_field :cohort_id %></p>
  <p>email: <%= form.text_field :email %></p>
  <p>phone number:<%= form.text_field :phone_number %></p>
  <%= form.submit %>
<% end %>