<p>First name: <%= @student.first_name %></p>
<p>Last name: <%= @student.last_name %></p>
<p>Age: <%= @student.age %></p>
<p>Cohort: <%= @student.cohort_id %></p>
<p>Email: <%= @student.email %></p>
<p>Phone Number: <%= @student.phone_number %></p>
<p>Img Url: <%= @student.img_url %></p>