<img src="<%=@teacher.img_url%>">
<p>First Name: <%=@teacher.first_name %></p>
<p>Last Name: <%=@teacher.last_name %></p>
<p>Age: <%=@teacher.age %></p>
<p>Salary: <%=@teacher.salary %></p>
<p>Education: <%=@teacher.education %></p>
<p>Email: <%=@teacher.email %></p>
<p>Phone Number: <%=@teacher.phone_number %></p>
