<!DOCTYPE html>
<html>
  <head>
    <title>NY Code U</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<div id="nav">
<div id="logo">
<h3><a class="school" href="/">NY Code U</a></h3>
</div>

<div id="icon">
<div><img src="http://s5.tinypic.com/a5khf9_th.jpg"></div>

<div id="dropdown">
<i class="far fa-caret-square-down"></i>
 <div id="drop-content">
 <p><%= link_to "Log Out", destroy_admin_session_path, method: :delete %></p>
 </div>
</div>

</div>
</div>


<div id="sidenav">

<div id="icon-div">
<div><img src="http://oi42.tinypic.com/5lvqll.jpg"></div>
<p>Admin</p>
</div>

<div id="links">
<a href="/"><div>Dashboard<i class="fas fa-caret-square-right"></i></div></a>
<a href="/students"><div>Students<i class="fas fa-caret-square-right"></i></div></a>
<a href="/teachers"><div>Teachers<i class="fas fa-caret-square-right"></i></div></a>
<a href="/cohorts"><div>Cohort<i class="fas fa-caret-square-right"></i></div></a>
<a href="/courses"><div>Courses<i class="fas fa-caret-square-right"></i></div></a>

</div>

</div>

    <%= yield %>
  </body>
</html>
